@model Mini_Bank.Models.AccountModel

@{
    ViewData["Title"] = "EditAccountView";
}

<h1>EditAccountView</h1>

<h4>AccountModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="EditAccount">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="AccountStatus" />
            <input type="hidden" asp-for="WalletId" />
            <input type="hidden" asp-for="Currency" />
            <div class="form-group">
                <label asp-for="IBAN" class="control-label"></label>
                <input asp-for="IBAN" class="form-control" />
                <span asp-validation-for="IBAN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Balance" class="control-label"></label>
                <input asp-for="Balance" class="form-control" />
                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
