@{
    ViewData["Title"] = "Chat";
}

<h1>Chat</h1>

<div class="container">
    <div class="form-group">
        <label for="messageInput">Message</label>
        <textarea required class="form-control" type="text" id="messageInput" ></textarea>
    </div>
    <div class="form-group">
        <input type="button" class="btn btn-primary" id="sendButton" value="Send Message" />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>

@section Scripts{
<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/chat.js"></script>
}