@model Mini_Bank.Models.RegistrantModel

@{
    ViewData["Title"] = "EditRegistrantView";
}

<h1>EditRegistrantView</h1>

<h4>RegistrantModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="EditRegistrant">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                @if (!ViewData.ModelState.IsValid && ViewData.ModelState["FirstName"].Errors.Count > 0)
                {
                    <span asp-validation-for="FirstName" class="text-danger">@ViewData.ModelState["FirstName"].Errors[0].ErrorMessage</span>
                }
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                @if (!ViewData.ModelState.IsValid && ViewData.ModelState["LastName"].Errors.Count > 0)
                {
                    <span asp-validation-for="LastName" class="text-danger">@ViewData.ModelState["LastName"].Errors[0].ErrorMessage</span>
                }
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                @if (!ViewData.ModelState.IsValid && ViewData.ModelState["Country"].Errors.Count > 0)
                {
                    <span asp-validation-for="Country" class="text-danger">@ViewData.ModelState["Country"].Errors[0].ErrorMessage</span>
                }
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                @if (!ViewData.ModelState.IsValid && ViewData.ModelState["Address"].Errors.Count > 0)
                {
                    <span asp-validation-for="Address" class="text-danger">@ViewData.ModelState["Address"].Errors[0].ErrorMessage</span>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>