@using Microsoft.AspNetCore.Identity
@using Data.Entities
@inject SignInManager<UserDbRepoModel> SignInManager
@inject UserManager<UserDbRepoModel> UserManager



@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <li class="nav-item dropdown">
        <a class="nav-link text-dark dropdown-toggle" href="#"
           id="navbarDropdownMenuLink" data-toggle="dropdown" 
           aria-haspopup="true" aria-expanded="false">Admin Menu</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a asp-area="" asp-controller="Administration" asp-action="ListRoles" class="dropdown-item">Roles</a>
            <a asp-area="" asp-controller="User" asp-action="DisplayUsers" class="dropdown-item">User List</a>
            <a asp-area="" asp-controller="Registrant" asp-action="DisplayRegistrants" class="dropdown-item">Display Registrants</a>
            <a asp-area="" asp-controller="Wallet" asp-action="DisplayWallets" class="dropdown-item">Display Wallets</a>
            <a asp-area="" asp-controller="Account" asp-action="DisplayAccounts" class="dropdown-item">Display Accounts</a>
            @*<a asp-area="" asp-controller="DbLogger" asp-action="Index" class="dropdown-item">Logger Testing</a>*@
        </div>
    </li>
}