@using Services.Services
@inject IUserService  UserService

@if (await UserService.IsUserEmailConfirmedAsync(User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Chat" asp-action="Chat">Chat</a>
    </li>
}