@using Microsoft.AspNetCore.Identity
@using Data.Entities
@inject SignInManager<UserDbRepoModel> SignInManager
@inject UserManager<UserDbRepoModel> UserManager



@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Administration" asp-action="ListRoles">Manage Roles</a>
    </li>
}