@using Services.Services
@inject IUserService  UserService

@if (await UserService.IsUserEmailConfirmedAsync(User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Wallet" asp-action="UserWallets">Wallets</a>
    </li>
}