@model Mini_Bank.Models.ViewModels.EditRoleViewModel

@{
    ViewData["Title"] = "EditRole";
    TempData["id"] = Model.Id;
}

<h1>EditRole</h1>

<h4>EditRoleViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="EditRole">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" disabled/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="ListRoles" class="btn btn-primary">Cancel</a>
            </div>
            <a asp-controller="Administration" asp-action="EditUsersInRole" asp-route-roleId="@Model.Id">Add or Remove Users</a>
            @if (Model.Users.Any())
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <label asp-for="@Model.Users"></label>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.Users)
                        {
                            <tr>
                                <td>
                                    @user
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h5>No Users in current role</h5>
            }
        </form>
    </div>
</div>


